body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: #333;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #ae00ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #b300b3;
}
table {
  width: 60%;
  margin: 20px auto;
  border: 1px solid #333;
  background: white;
}

th, td {
  padding: 8px;
  border: 1px solid #333;
  text-align: center;
}

th {
  background-color: #cc00ff;
  color: white;
}
textarea {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

#outputText {
  background: #f0f0f0;
}
